.task {
  font-size: 5em;
  font-weight: 600;
  line-height: 2em;

  &__value-to-type {
    text-align: center;
    &--correct {
      color: #4add8c;
    }
    &--wrong {
      color: #ff6347;
    }
  }
  &__value-to-type:after {
    content: " ";
    display: block;
    border-bottom: 3px solid white;
  }

  &__remaining-text {
    letter-spacing: 0.5em;
    color: #aaaaaa;
  }

  &__input {
    border: 1px solid white;
    width: 100%;
    height: 2em;
    text-align: center;

    &:focus {
      box-shadow: 0 0 10px rgba(255, 255, 255, 1);
      border: 2px solid rgba(255, 255, 255, 1);
      outline: 0;
    }
  }

  &__typed-text {
    &--correct {
      color: #4add8c;
    }
    &--wrong {
      color: #ff6347;
    }
  }
}
